* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: darkblue;
  }

  
  header nav{
    text-align: center;
    padding: 14px;
    color: #ffffff;
    background: red;
    width: 100%;
    top: 0;
    left:0;
 }
 header nav h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
 }
 .app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    min-height: 85vh;
 }
  .container {
    background-color: #ffffff;
    width:800px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    font-size: 16px;
    display: grid;
    margin: 0 5px;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
    cursor: pointer;
  }
  button:hover{
    font-weight: 800;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
    outline: none;
  }
  .active {
    background-color: #e0e9ff;
  }

  footer{
    background-color: red;
    width: 100%;
    padding: 14px;
    position: fixed;    
    bottom: 0;
    text-align: center;
    z-index: 999;
}
footer a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}